{
    "parser": "@typescript-eslint/parser",
    "extends":[
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "rules": {}
}